<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons>
    <ion-button color="primary" routerLink="/landing">
      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-card-header>
    <ion-card-title >Login</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input [(ngModel)]="todo.username" name="username" type="text"  required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="todo.password" [type]="passwordshown ? 'text' : 'password'" name="password" required></ion-input>
    </ion-item>  
   <ion-item>
    <ion-checkbox (click)="show()" margin></ion-checkbox> Show Password
   </ion-item>
    <ion-button type="submit" expand="block" color="primary">Login</ion-button>
  </form>
  <p class="ion-text-center">Don't have a account?</p>
  <ion-button expand="block" color="primary" routerLink="/register">Register</ion-button>

</ion-content>