<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
    <ion-buttons slot = "start">
      <ion-button color="primary" routerLink="/dashboard">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">           
  <div *ngIf="user != undefined">
              <img src="/assets/profile.png" style="width: 70%; padding-left:80px">
              <br>
              <ion-text style="text-align: center; padding-left: 60px;">
              User : {{user.username}}
              </ion-text>
              <br>
              <br>
              <br>
              <b>First Name :</b> {{ user.firstName }}
              <br>
              <br>
              <b>Last Name: </b>{{ user.lastName }}
                <br>
                <br>
  </div>
</ion-content>
