<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/createpost">
         ADDPOST <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </ion-button>
      <ion-button routerLink="/profile">
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </ion-button>
        <ion-button color="primary" expand="full" color="primary" (click)="logout()">
            <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>

  <div *ngIf="user != undefined">
    Welcome {{ user.firstName }} {{ user.lastName }}<br>
    <ion-item>
        <ion-label>View Options</ion-label>
        <ion-select [(ngModel)]="dropview" (ionChange)="myPosts()">
          <ion-select-option value="all" selected>All</ion-select-option>
          <ion-select-option value="myposts">MyPosts</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-item *ngFor="let name of array">
      <ion-label>{{name.postId}}  {{name.title}} </ion-label>
      <ion-button (click)="viewPost(name._id)">
          ViewPost
      </ion-button>
    </ion-item>
</ion-content>
