<ion-header>
  <ion-toolbar>
    <ion-title>{{ details.title }}</ion-title>
    <ion-buttons slot="start">
        <ion-button routerLink="/dashboard">
          <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header color="primary">
          Post Details
      </ion-card-header>
      <ion-card-content>  
      <br><br>
        Id : {{ details.postId }}<br>
        Title : {{ details.title }}<br>
        Description : {{ details.description }}
        Author:{{details.author}}
        CreatedDate :{{details.createdDate}}
        {{details._id}}
        
      </ion-card-content>
    </ion-card>
    <form #form="ngForm" (ngSubmit)="comment(form)">
      <ion-card>
        <ion-card-header>
            <ion-label>Comments</ion-label>
        </ion-card-header>
       <ion-card-content>
        <ion-item>
          <ion-textarea auto-grow="true" [(ngModel)]="comm"  name="comm" clearOnEdit="true" rows="4" cols="20" placeholder="Enter your comment here..."></ion-textarea>
        </ion-item>
        <ion-button type="submit">Submit</ion-button>
        <ion-item *ngFor="let data of details.comments">
            {{data.text}}
          </ion-item>
       </ion-card-content>
      </ion-card>
    </form>
</ion-content>
