<ion-header>
  <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons>
          <ion-button expand="block" color="primary" routerLink="/landing">
            <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
          </ion-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input [(ngModel)]= "todo.fName" name="fName" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input [(ngModel)]= "todo.lName" name="lName" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input type="text" [(ngModel)]= "todo.username" name="username" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" required>Password</ion-label>
      <ion-input type="password" [(ngModel)]= "todo.password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" required>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]= "todo.confirm_password" name="confirm_password" required></ion-input>
    </ion-item>

    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.confirm_password" >
        <div class="error-message" *ngIf=" validations_form.get('confirm_password').hasError(validation.type) 
        && ( validations_form.get('confirm_password').dirty || validations_form.get('confirm_password').touched)">
            {{ validation.message }}
        </div>
      </ng-container>
  </div> -->

  
    <ion-button type="submit" expand="block" color="primary">Register</ion-button>
  </form>
  <p class ="ion-text-center">Already have a account?</p>
  <ion-button expand="block" color="primary" routerLink="/login">Login</ion-button>
</ion-content>